{{ define "inicio" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Prediccion Bitcoin</title>
    <link rel="stylesheet" href="/assets/general.css">
    {{ template "librerias" .}}
  </head>
  <body >
  {{ template "navbar" .}}
    <main style="margin-top: 80px">
    <h1> tu puta madre <h1>
    <h2> tu puta madre 22312312 <h2>
    </main>
  </body>
</html>
{{ end }}
