:root {
  --bg-color: #1a1a1a;
  --box-color: #333;
  --text-color: #fff;
  --accent: #fd090921;
  --panel-bg: #444;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.main-header {
  font-size: 2.5rem;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 2px solid #444;
}

.subtitle {
  background-color: var(--box-color);
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  border: 1px solid #555;
}

.dashboard {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.main-chart {
  flex: 2;
  background-color: var(--accent); /* rojo como en la imagen */
  min-height: 300px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px #00000044;
}

.side-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box {
  background-color: var(--panel-bg);
  padding: 15px;
  border-radius: 8px;
  min-height: 140px;
  box-shadow: 0 0 8px #00000033;
}
.scroll-vertical {
  height: 150px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  margin-top: 1rem;
}

.scroll-vertical img {
  position: absolute;
  width: 100%;
  animation: scrollImg 10s linear infinite;
}

@keyframes scrollImg {
  0% { top: 100%; }
  100% { top: -100%; }
}

.carousel img {
  object-fit: cover;
}

.box-tabla {
    background: rgba(255, 255, 255, 0);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    padding: 20px 30px;
    width: 320px;
    max-width: 90vw;
  }

  .scroll-vertical {
    max-height: 280px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
  }